Repository echoes-io/mcp-server: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: :ambulance: Synced the package-lock.json
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: :ambulance: Fixed package-lock.json with node 24
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: :white_check_mark: Fixed test model
  README.md
  cli/program.ts
  lib/constants.ts
  lib/database/index.ts
  lib/indexer/embeddings.ts
  lib/tools/index.ts
  lib/tools/search.ts
  lib/tools/stats.ts
  package-lock.json
  package.json
  test/database/index.test.ts
  test/e2e.test.ts
  test/indexer/embeddings.test.ts
  test/tools/index.test.ts
  test/tools/search.test.ts
  test/tools/stats.test.ts
  vitest.config.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(ci): add model pre-download to prevent protobuf parsing failures
  .github/workflows/ci.yml
  scripts/preload-model.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 5.8.2 [skip ci]
  CHANGELOG.md
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  48ae5ac2204c87941cb6893ce6ba09d910baaaa5
Due: none

ci: :bug: Added the `scripts` path to the `clean` script
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat!: finalize v6.0.0 release with TypeScript migration
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 6.0.0 [skip ci]
  CHANGELOG.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  9764502804b7894a6f470f5e8fc32085ceff9b78
Due: none

feat(cli): add progress bar for index command with listr2
  .kiro/specs/v6-progress/requirements.md
  cli/program.ts
  lib/database/index.ts
  lib/indexer/tasks.ts
  lib/tools/index.ts
  package-lock.json
  package.json
  test/cli.test.ts
  test/indexer/tasks.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: :arrow_up: Fixed package-lock
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 6.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  579fb0001faec2125672c6b3953580482ca0e1a7
Due: none

fix: improve CLI defaults and UX
  cli/program.ts
  lib/constants.ts
  lib/indexer/embeddings.ts
  lib/indexer/tasks.ts
  test/cli.test.ts
  test/indexer/embeddings.test.ts
  test/server.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(cli): add list command for entities and relations
  cli/program.ts
  lib/server.ts
  lib/tools/list.ts
  test/cli.test.ts
  test/tools/list.test.ts
  vitest.config.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(database): add schema versioning for controlled migrations
  lib/constants.ts
  lib/database/index.ts
  lib/indexer/tasks.ts
  test/database/index.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(database): remove unreachable fallback to achieve 100% branch coverage
  lib/database/index.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(embeddings): add dtype support for quantized models
  README.md
  lib/indexer/embeddings.ts
  test/cli.test.ts
  test/server.test.ts
  test/tools/list.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 6.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  d32a3915fe4c0ee1eecc064533b59303814ae4a9
Due: none

docs: add embedding quantization performance notes
  README.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(consistency): complete outfit-claims rule and achieve 100% test coverage
  .kiro/specs/v6.3/requirements.md
  :memory:/entities.lance/_transactions/0-bd3273bf-165f-466f-927c-abad41c8129f.txn
  :memory:/entities.lance/_versions/1.manifest
  :memory:/metadata.json
  :memory:/relations.lance/_transactions/0-2dc21829-cd98-4722-87ed-2cd8b50e105f.txn
  :memory:/relations.lance/_versions/1.manifest
  README.md
  cli/program.ts
  lib/tools/consistency/index.ts
  lib/tools/consistency/patterns.ts
  lib/tools/consistency/rules/entity-duplicate.ts
  lib/tools/consistency/rules/first-time-content.ts
  lib/tools/consistency/rules/kink-firsts.ts
  lib/tools/consistency/rules/outfit-claims.ts
  lib/tools/consistency/rules/relation-jump.ts
  lib/tools/consistency/types.ts
  test/cli-check-consistency.test.ts
  test/tools/consistency/entity-duplicate.test.ts
  test/tools/consistency/first-time-content.test.ts
  test/tools/consistency/index.test.ts
  test/tools/consistency/kink-firsts.test.ts
  test/tools/consistency/outfit-claims.test.ts
  test/tools/consistency/patterns.test.ts
  test/tools/consistency/relation-jump.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement graph-export tool with Mermaid, JSON, and DOT formats
  README.md
  cli/program.ts
  lib/server.ts
  lib/tools/graph-export.ts
  test/tools/graph-export.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement history tool for character arc tracking
  README.md
  cli/program.ts
  lib/server.ts
  lib/tools/history.ts
  test/tools/history.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement Human-in-the-Loop (HITL) review system - Phase 1
  README.md
  cli/program.ts
  lib/database/index.ts
  lib/database/schemas.ts
  lib/server.ts
  lib/tools/review-generate.ts
  lib/tools/review-status.ts
  test/database/schemas.test.ts
  test/tools/review.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: complete Human-in-the-Loop (HITL) review system - Phase 2
  README.md
  cli/program.ts
  lib/server.ts
  lib/tools/review-apply.ts
  test/tools/review.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  ab26f52585bc927537a2def38dd7300f250ae5f3
Due: none

chore(release): 7.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: :fire: Removing useless files
  :memory:/entities.lance/_transactions/0-bd3273bf-165f-466f-927c-abad41c8129f.txn
  :memory:/entities.lance/_versions/1.manifest
  :memory:/metadata.json
  :memory:/relations.lance/_transactions/0-2dc21829-cd98-4722-87ed-2cd8b50e105f.txn
  :memory:/relations.lance/_versions/1.manifest
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add arc-resume tool for loading arc context
  README.md
  lib/server.ts
  lib/tools/arc-resume.ts
  test/arc-resume.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

build: :arrow_up: fixed lock file
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

test: :ambulance: Fixed other repo deps
  .gitignore
  test/arc-resume.test.ts
  test/fixtures/docs/characters/alice.md
  test/fixtures/docs/characters/nic.md
  test/fixtures/docs/episodes/bloom-ep01-primo-incontro.md
  test/fixtures/docs/episodes/bloom-ep02-la-cena.md
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 7.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  dee90a6582c5bbafbc7bc38fabc9246a15ccdf85
Due: none

perf: :truck: moved "arc-resume" from tool to input
  README.md
  lib/prompts/arc-resume.ts
  lib/prompts/index.ts
  lib/server.ts
  test/arc-resume.test.ts
  test/fixtures/docs/characters/bloom/alice.md
  test/fixtures/docs/characters/bloom/nic.md
  test/prompts/index.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  b18e22efd7783369cb152666e02cf3ce1943e044
Due: none

chore(release): 7.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  bash -c 'npm test': (any of: *.{ts,tsx}) or (any of: package.json)
  bash -c 'npm run build': any of: *.{ts,tsx}
  bash -c 'npm run clean': any of: *.{ts,tsx}
  bash -c 'npm run lint': any of: package.json
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{ts,tsx,json,yaml,graphql,md,css,scss,html}
