Repository echoes-io/mcp-server: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

.lintstagedrc:

"*.{ts,tsx}":
  - "bash -c 'npm test'"
  - "bash -c 'npm run build'"
  - "bash -c 'npm run clean'"

"package.json":
  - "bash -c 'npm test'"
  - "bash -c 'npm run lint'"

"*.{ts,tsx,json,yaml,graphql,md,css,scss,html}":
  - "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"

chore(release): 8.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  24076a1ff3100a3f06681433be8408a0bbd134fd
Due: none

fix: prevent arc-resume from writing chapters without user confirmation
  lib/prompts/arc-resume.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 8.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  7610112f4d972d9488ca8d151070af76e2601897
Due: none

feat: add timeline-overview tool
  README.md
  cli/program.ts
  lib/server.ts
  lib/tools/timeline-overview.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 8.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  5ceb71e248dddf92b3bf703e2ddba0828a578a99
Due: none

chore(deps): bump flowrag packages to latest versions
  package-lock.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(deps): bump zod ^4.3.6 → ^4.4.1
  package-lock.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

build: migrate from semantic-release to bonvoy
  .github/workflows/ci.yml
  .releaserc.json
  package-lock.json
  package.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(deps): resolve all npm audit vulnerabilities
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: drop node 20, test on 22+24, release on node 22
  .github/workflows/ci.yml
Due: none

fix: resolve biome lint warnings
  biome.json
  lib/tools/timeline-overview.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(ci): configure git identity for release commits
  .github/workflows/ci.yml
Due: none

chore(deps): update all dependencies to latest versions
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: migrate from bonvoy to release-please for automated releases
  .github/workflows/ci.yml
  .release-please-manifest.json
  package-lock.json
  package.json
  release-please-config.json
Due: bash -c 'npm test', bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: align GraphQL queries and types to actual publisher schema
  cli/program.ts
  lib/graphql/queries.ts
  lib/graphql/types.ts
  lib/server.ts
  lib/tools/mage-characters.ts
  lib/tools/mage-commit.ts
  lib/tools/mage-queue.ts
  lib/tools/mage-results.ts
  lib/tools/mage-status.ts
  test/tools/mage-characters.test.ts
  test/tools/mage-commit.test.ts
  test/tools/mage-queue.test.ts
  test/tools/mage-results.test.ts
  test/tools/mage-status.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: align listMageJobs to MageJobConnection schema (items + nextToken)
  lib/graphql/queries.ts
  lib/graphql/types.ts
  lib/server.ts
  lib/tools/mage-queue.ts
  lib/tools/mage-results.ts
  lib/tools/mage-status.ts
  test/tools/mage-queue.test.ts
  test/tools/mage-results.test.ts
  test/tools/mage-status.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add nextToken pagination to mage_results_list
  lib/tools/mage-results.ts
  test/tools/mage-results.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(mage-results): avoid nextToken pagination with API_KEY auth
  lib/tools/mage-results.ts
  test/tools/mage-results.test.ts
Due: bash -c 'npm test', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
